<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="dbCS" connectionString="Data Source=sql4003.shared-servers.com,1089;initial catalog=cuestionariosdb;user id=cuestionarios_usr;password=dzabu4epgloikhcryjts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type"/>
        <add name="Access-Control-Allow-Origin" value="http://localhost:3005"/>
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
